x-sentry-service-config:
  version: 0.1
  service_name: uptime-checker
  dependencies:
    kafka:
      description: Shared instance of kafka used by sentry services
      remote:
        repo_name: sentry-shared-kafka
        branch: main
        repo_link: git@github.com:getsentry/sentry-shared-kafka.git
    redis:
      description: Shared instance of redis used by sentry services
      remote:
        repo_name: sentry-shared-redis
        branch: main
        repo_link: git@github.com:getsentry/sentry-shared-redis.git
    uptime-checker:
      description: Service powering Sentry's uptime detection features
  modes:
    default: [redis]
    containerized: [kafka, redis, uptime-checker]

x-programs:
  devserver:
    command: make run

services:
  uptime-checker:
    image: ghcr.io/getsentry/uptime-checker:nightly
    command:
      - run
    # we don't need things like UPTIME_CHECKER_RESULTS_KAFKA_CLUSTER;
    # results_kafka_cluster default is already 127.0.0.1:9092
    networks:
      - devservices
    extra_hosts:
      host.docker.internal: host-gateway
    labels:
      - orchestrator=devservices
    restart: unless-stopped

networks:
  devservices:
    name: devservices
    external: true
