name: Build Image
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
  push:
    branches:
      - main
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-image:
    name: Build and publish uptime-checker to GHCR
    if: ${{ !github.event.pull_request.head.repo.fork && github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest

    env:
      VERSIONED_IMAGE: ghcr.io/getsentry/uptime-checker:${{ github.sha }}
      NIGHTLY_IMAGE: ghcr.io/getsentry/uptime-checker:nightly

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        run: docker login --username '${{ github.actor }}' --password '${{ secrets.GITHUB_TOKEN }}' ghcr.io

      - name: Build and push to GHCR
        run: |
          docker buildx build \
              --platform linux/arm64,linux/amd64 \
               $( [[ "${GITHUB_REF}" == "refs/heads/main" ]] && printf %s "--tag ${NIGHTLY_IMAGE}" ) \
              --tag "${VERSIONED_IMAGE}" \
              --file Dockerfile \
              --push \
              .

  publish-to-dockerhub:
    name: Publish uptime-checker to DockerHub
    runs-on: ubuntu-latest
    if: github.ref_name == 'main'
    needs:
      - build-image
    env:
      REVISION: "${{ github.event.pull_request.head.sha || github.sha }}"
      GHCR_IMAGE_URL: "ghcr.io/getsentry/uptime-checker"
      DOCKERHUB_IMAGE_URL: "getsentry/uptime-checker"
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3

      - name: Login to Docker Hub
        shell: bash
        run: docker login --username=sentrybuilder --password ${{ secrets.DOCKER_HUB_RW_TOKEN }}
      
      - name: Copy GHCR image to DockerHub
        shell: bash
        run: |
          # We push 3 tags to Dockerhub:
          # 1) the full sha of the commit
          docker buildx imagetools create --tag "${DOCKERHUB_IMAGE_URL}:${REVISION}" "${GHCR_IMAGE_URL}:${REVISION}"

          # 2) the short sha
          SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-8)
          docker buildx imagetools create --tag "${DOCKERHUB_IMAGE_URL}:${SHORT_SHA}" "${GHCR_IMAGE_URL}:${REVISION}"

          # 3) nightly
          docker buildx imagetools create --tag "${DOCKERHUB_IMAGE_URL}:nightly" "${GHCR_IMAGE_URL}:${REVISION}"
