name: image
on:
  pull_request:
  push:
    branches:
      - main
      - release/**

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            platform: amd64
          - os: ubuntu-24.04-arm
            platform: arm64
    name: build-${{ matrix.platform }}
    if: ${{ github.repository_owner == 'getsentry' }}
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      # Only login to GHCR when we're not on Pull Request. Provenance only works
      # when we push to the registry directly.
      # This is safe to run on forks, since the entire job is guarded with
      # `github.repository_owner == 'getsentry'` above.
      - if: ${{ github.event_name != 'pull_request' }}
        run: docker login --username '${{ github.actor }}' --password-stdin ghcr.io <<< "$GHCR_TOKEN"
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        uses: docker/build-push-action@32945a339266b759abcbdc89316275140b0fc960 # v6.8.10
        with:
          context: .
          cache-from: ghcr.io/getsentry/uptime-checker:latest
          cache-to: type=inline
          platforms: linux/${{ matrix.platform }}
          tags: ghcr.io/getsentry/uptime-checker:${{ github.sha }}-${{ matrix.platform }}
          labels: |
            org.opencontainers.image.title=uptime-checker
            org.opencontainers.image.description="Sentry Uptime Checker image"
            org.opencontainers.image.vendor="Sentry"
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.version=${{ github.sha }}
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.url=${{ github.server_url }}/${{ github.repository }}
          provenance: mode=max
          sbom: true
          push: ${{ github.event_name != 'pull_request' && 'true' || 'false' }}

  assemble-uptime-checker-image:
    runs-on: ubuntu-latest
    needs: [build]
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - run: docker login --username '${{ github.actor }}' --password-stdin ghcr.io <<< "$GHCR_TOKEN"
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Push to GitHub Container Registry
        run: |
          docker manifest create \
            ghcr.io/getsentry/uptime-checker:${{ github.sha }} \
            --amend ghcr.io/getsentry/uptime-checker:${{ github.sha }}-amd64 \
            --amend ghcr.io/getsentry/uptime-checker:${{ github.sha }}-arm64

          docker manifest push ghcr.io/getsentry/uptime-checker:${{ github.sha }}

          docker manifest create \
            ghcr.io/getsentry/uptime-checker:latest \
            --amend ghcr.io/getsentry/uptime-checker:${{ github.sha }}-amd64 \
            --amend ghcr.io/getsentry/uptime-checker:${{ github.sha }}-arm64

          docker manifest push ghcr.io/getsentry/uptime-checker:latest

          docker manifest create \
            ghcr.io/getsentry/uptime-checker:nightly \
            --amend ghcr.io/getsentry/uptime-checker:${{ github.sha }}-amd64 \
            --amend ghcr.io/getsentry/uptime-checker:${{ github.sha }}-arm64

          docker manifest push ghcr.io/getsentry/uptime-checker:nightly

  publish-uptime-checker-to-dockerhub:
    runs-on: ubuntu-latest
    if: ${{ github.ref_name == 'main' }}
    needs: [assemble-uptime-checker-image]
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - shell: bash
        run: |
          echo "${{ secrets.DOCKER_HUB_RW_TOKEN }}" | docker login --username=sentrybuilder --password-stdin

          # We push 3 tags to Dockerhub:
          # first, the full sha of the commit
          docker buildx imagetools create --tag getsentry/uptime-checker:${GITHUB_SHA} ghcr.io/getsentry/uptime-checker:${{ github.sha }}

          # second, the short sha of the commit
          SHORT_SHA=$(git rev-parse --short "$GITHUB_SHA")
          docker buildx imagetools create --tag getsentry/uptime-checker:${SHORT_SHA} ghcr.io/getsentry/uptime-checker:${{ github.sha }}

          # finally, nightly
          docker buildx imagetools create --tag getsentry/uptime-checker:nightly ghcr.io/getsentry/uptime-checker:${{ github.sha }}