name: Run Tests
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - release/**
permissions:
  contents: write
  pull-requests: write

jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.1.1
      - uses: shogo82148/actions-setup-redis@428a144f11914412a8f52902296e134dd2e0f925
        with:
          redis-version: "7.x"
      - name: Install Rust Toolchain
        run: rustup toolchain install stable --profile minimal --no-self-update
      - name: Install protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Cargo Tests
        run: cargo test
